1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [8]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt','w') as f:
    f.write(test1)

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [9]:
with open('test.txt','r') as test2:
    print(test2.read())

This is a test of the emergency text system,

3.Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [16]:
import csv
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    
    writer.writerow(['title','author','year'])
    writer.writerow(['The Weirdstone of Brisingamen','Alan Garner','1960'])
    writer.writerow(['Perdido Street Station','China Miéville','2000'])
    writer.writerow(['Thud!','Terry Pratchett','2005'])
    writer.writerow(['The Spellman Files','Lisa Lutz','2007'])
    writer.writerow(['Small Gods','Terry Pratchett','1992'])

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [35]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS books([title] TEXT,[author] TEXT,[year] INTERGER)''')

conn.commit()

5.Read books.csv and insert its data into the book table.

In [37]:
import csv
import sqlite3


conn = sqlite3.connect('books.db')

cursor = conn.cursor()

with open('books.csv','r') as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))

conn.commit()
conn.close()

In [38]:
conn2 = sqlite3.connect('books.db')
cursor = conn2.cursor()

select = 'SELECT * FROM books'
rows = cursor.execute(select).fetchall()

for r in rows:
    print(r)       
    
conn2.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6.Select and print the title column from the book table in alphabetical order.

In [39]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

names = cursor.execute('SELECT title FROM books ORDER BY title ASC')
for i in names:
    print(i[0])
    
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7.From the book table, select and print all columns in the order of publication.

In [40]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

years_order = cursor.execute('SELECT * FROM books ORDER BY year')
for i in years_order:
    print(i)
    
conn.commit()
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [41]:
import sqlalchemy 
engine = sqlalchemy.create_engine('sqlite:///books.db')
engine

Engine(sqlite:///books.db)

9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.

In [2]:
pip install redis

Requirement already satisfied: redis in /Applications/anaconda3/lib/python3.9/site-packages (4.4.2)
Requirement already satisfied: async-timeout>=4.0.2 in /Applications/anaconda3/lib/python3.9/site-packages (from redis) (4.0.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import redis
conn = redis.Redis()
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

10.Increment the count field of test and print it.

In [14]:
conn.hincrby('test','count',1)
conn.hget('test','count')

b'2'